<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href = "views/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div class="form_block">
    <form name='reg' enctype="multipart/form-data" role="form" id="reg_form" method="post" action="main/validate/">
        <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" class="form-control validate[required]" id="first_name" name="first_name" placeholder="Enter your first name">
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name">
        </div>
        <div class="form-group">
            <label for="patronymic">Patronymic</label>
            <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Enter your patronymic">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control validate[required, custom[email]]" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control validate[custom[phone]]" id="phone" name="phone"  placeholder="Enter your phone number">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control validate[required]" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="reenterPass">Re-enter password</label>
            <input type="password" class="form-control validate[required, equals[password]]" id="reenterPass" name="reenterPass" placeholder="Re-enter your password">
        </div>
        <div class="form-group">
            <label for="inputfile">Choose photo</label>
            <input class="btn btn-default" type="file" id="inputfile" name="photo">
            <p class="help-block">This photo will be set as your avatar</p>
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
    </form>
</div>
<link rel="stylesheet" href="views/css/validationEngine.jquery.css" type="text/css"/>
<script src="views/js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
<script src="views/js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<script src="views/js/index.js"></script>
</body>
</html>