<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="profile">
    <div class="container">
        <div class="span3 well">
            <center>
                <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src='<?php echo "../".$data["photos"][0]["file_name"]?>' name="aboutme" class="img-circle"></a>
                <h3><?php echo $data['first_name']." ".$data['last_name']." ".$data['patronymic']?></h3>
                <em>click my photo for more</em>
            </center>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">More About <?php echo $data['first_name'] ?></h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src='<?php echo "../".$data["photos"][1]["file_name"]?>' name="aboutme" border="0" class="img-circle"></a>
                            <h3 class="media-heading"><?php echo $data['first_name'] ?> <small><?php echo $data['last_name']." ".$data['patronymic'] ?></small></h3>
                        </center>
                        <hr>
                        <center>
                            <p class="text-left"><strong>Email: </strong><br>
                                <?php echo $data['email']?></p>
                            <br>
                            <p class="text-left"><strong>Phone: </strong><br>
                                <?php echo $data['phone']?></p>
                            <br>
                            <p class="text-left"><strong>Icon: </strong><br>
                                <img src='<?php echo "../".$data["photos"][2]["file_name"]?>' name="aboutme" class="img-circle">
                            <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about <?php echo $data['first_name'] ?></button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>